/* Apply box-sizing globally to include padding and borders in element widths */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal overflow */
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
}

img {
    width: 100px;
}

/* ------------- HERO SECTION --------------- */
.hero {
    position: relative;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0.1rem;
    text-align: center;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero h1 {
    z-index: 1;
    background-color: #FFD60A;
    color: black;
    padding: 1.5rem 3rem;
    font-weight: bold;
    font-size: 3.5rem;
    margin: 0;
}

.hero h2 {
    position: absolute;
    width: 100%;
    max-width: 100vw; /* Prevents overflow */
    bottom: 0;
    margin: 0;
    text-align: center;
    z-index: 1;
    background-color: #FFD60A;
    color: black;
    padding: 1rem;
    font-size: 1.5rem;
}

/* ------------- ACTIVITIES SECTION --------------- */
.activities-sec {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start; /* Aligns items at the top */
    margin: 0;
    width: 100%;
}

.activities-title {
    color: #FFD60A;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 0;
}

.activities-des {
    color: #FFD60A;
    font-size: 1.7rem;
    padding: 1rem;
    margin: 0;
}

.activities-img {
    margin: 1rem;
    width: 600px;
    height: 400px;
}

.activities-img:hover {
    border: 5px solid #FFD60A;
    border-bottom: 25px solid #FFD60A;
}

#main-div {
    background-image: url("images/bg-main.jpg");
    background-size: cover;
    margin: 0;
}

.activities-h3 {
    margin: 0;
    padding-top: 5rem;
    padding-bottom: 1rem;
    color: #FFD60A;
    font-size: 3rem;
}

/* ------------- GUIDE SECTION --------------- */
.guide-container {
    padding: 6rem 40rem;
}

.guide {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 5px solid #FFD60A;
    border-bottom: 50px solid #FFD60A;
    padding: 1rem 1rem 3rem 1rem;
}

.guide-pro {
    border: 5px solid #FFD60A;
    height: 500px;
    width: 400px;
    margin-right: 2rem;
}

.guide-intro {
    color: #FFD60A;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 0;
}

.guide-catch {
    font-weight: 700;
    font-size: 4rem;
    margin: 0;
}

.guide-des {
    font-size: 1.5rem;
}

.guide-name {
    font-size: 2rem;
    margin-top: 0;
}
